<%= form_for [@listing, @reservation] do |f| %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2>
        
        <%= pluralize(@reservation.errors.count,"error") %>
        occured:

      </h2>
      <p>

      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      </ul>

        <% end %>
      </p>
    </div>
  <% end %>

  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>
  <%= f.submit %>

<% end %>